.jumbotron {
    margin: auto;
    width: 90%;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0.651);
}
.background {
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/20/40/KdwIsT.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    background-size: 100%;
    padding-top: 5%;
    padding-bottom: 8%;
}
.background-login {
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/20/40/KdwIsT.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    background-size: 100%;
    padding-top: 1%;
    padding-bottom: 10%;
}
.jumbotron-login {
    margin: auto;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.651);
    margin-top: 8%;
    border-radius: 7px;
}
.btn-primary, .btn-promary:hover, .btn-primary:active, .btn-primary:visited, .btn {
    background-color: "#3340a1" !important;
    border-color: "#3340a1" !important;
}

.background-dash {
    background: url(https://img.wallpapersafari.com/desktop/1920/1080/20/40/KdwIsT.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overFlow: hidden;

}
.border-radius {
    border-radius: 7px !important;
}